.category-filter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 50px;
}

.category-filter button {
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.category-filter button:hover {
  background-color: #eee;
}

.category-filter button.active {
  background-color: #111;
  color: white;
}